# Defines the origin of your Piwigo instance
DEV_PIWIGO_PROXY_ORIGIN="https://example.org"

# Defines the (optional) subpath to your Piwigo instance within your origin.
# For example, these would equate to `https://example.org/piwigo`, which would
# be the root of your Piwigo instance.
DEV_PIWIGO_PROXY_PATH="/piwigo"
